.app {
  .header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ddd;
    background: map-get($colors, header-back);

    .logo {
      //@extend .navbar-brand;
      img {
        width: 250px;
        height: 100%;
      }
    }
    .menu {
      .main {
        div {
          ul {
            li {
              @extend .navbar-item;
              &.active{
              @extend .is-active;
              }
            }
          }
        }
      }
      .logout {
        button {
          height: 40px;
        }
      }
    }
  }
  .body {
    @extend .section;
    @import "partier/index";
    @import "promoter/index";
  }
  .footer {
    @extend .footer;
    width: 100%;
    text-align: center;
  }
}