.app {
  .header {
    border-bottom: 1px solid #ddd;
    background: map-get($colors, header-back);

    .logout {
      button {
        height: 40px;
      }
    }
  }
  .body {
    @extend .section;
    @import "partier/index";
    @import "promoter/index";
  }
  .footer {
    @extend .footer;
    text-align: center;
  }
}