$bootstrap-sass-asset-helper: true;
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

$font-stack: Helvetica, sans-serif;

$colors: (
  border:         #DDD,
  info-back:      #EEE,
  header-back:    #EEE,
  profile-back:   #00F,
  logo-back:      #00F
);

.has-border {
  border: 1px solid map-get($colors, border);
}