@import 'auction';
.squad-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  .squad-contents {
    display: inline-block;
    width: 600px;
    margin-top: 20px;
    padding: 0px;
    border: 1px solid map-get($colors, border);
    .squad-row {
      height: 50px;
      line-height: 50px;
      margin: 0px;
      border-bottom: 1px solid map-get($colors, border);
      &:last-child {
        border-bottom: none;
      }
      .date-col {
        font-size: 1.6rem;
        font-weight: bold;
        text-align: left;
      }
      .button-col {
        padding-top: 8px;
        text-align: left;
        .btn {
          margin-right: 10px;
        }
      }
    }
  }
  .modal-header {
    display: flex;
    h4 {
      flex: 1;
      text-align: center;
    }
  }
  .squad-details-contents {
    display: inline-block;
    width: 700px;
    margin-top: 20px;
    padding: 20px;
    .info-wrapper {
      width: 100%;
      height: 520px;
      padding: 15px;
      margin-bottom: 20px;
      background: map-get($colors, info-back);
      overflow: scroll;
      .info-title {
        margin-bottom: 15px;
        font-size: 1.6rem;
        font-weight: bold;
      }
      .info-row {
        text-align: left;
        margin-bottom: 15px;
        .info-label {
          font-size: 1.2rem;
          font-weight: bold;
        }
        .info-value {
          font-size: 1.4rem;
        }
      }
    }
    .member-wrapper {
      width: 100%;
      height: 520px;
      padding: 15px 0px;
      overflow: scroll;
      .member-card {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        .card-photo {
          width: 60px;
          height: 60px;
          margin-right: 20px;
          background: map-get($colors, profile-back);
        }
        .card-info {
          flex: 1;
          h5 {
            text-align: left;
            margin-top: 0px;
          }
          .checkbox {
            text-align: left;
            label {
              cursor: auto;
            }
          }
        }
      }
    }
  }
}